
$primary: #B41BFF;
$secondary: #55B5FF;
$rosa: #FF4DE9;
$fa-font-path: "../webfonts";

@import "./node_modules/bootstrap/scss/bootstrap";

/*
rosado #FF4DE9
azul #55B5FF
morado #B41BFF
naranja #FFB94D
verde #7CFF4D
mora oscuro #AA6CA3

negro: #332431

amarillo #FAFF66
rojito #FF5F59
verdecito #33FF7A

$body-bg: #000;
$body-color: #111;

*/