
$primary: #B41BFF;
$secondary: #55B5FF;
$rosa: #FF4DE9;
$fa-font-path: "../webfonts";

@import "./node_modules/bootstrap/scss/bootstrap";

/*
rosado #FF4DE9
azul #55B5FF
morado #B41BFF

$body-bg: #000;
$body-color: #111;

*/